.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  min-height: 100vh;
  background-color: var(--grey-90);
  color: var(--grey-10);
  @media (min-width: 600px) {
    padding: 6rem;
  }
}

